.box-instruction{
    width: inherit;
    height: 70vh;

    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.list-btn-box-instruction{
    display: flex;
    flex-direction: column;
}

.btn-box-instruction{
    position: absolute;
    margin: 1vh 0;
    width: 100px;
    transition: 0.3s ease;
}

@media screen and (min-width: 768px) {
    .list-btn-box-instruction{
        display: flex;
        flex-direction: row;
    }    

    .btn-box-instruction{
        margin: 2.5vh 2vh;
    }
}