.box-play{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 100vw;
}

.button{
    position: relative;
    width: 100px;
    height: 100px;
}

.button-top{
    position: absolute;
    top: 0;

    width: 100px;
    height: 50px;
    background: #ff0000;

    border-radius: 50%;
    border: 0;

    transition: 0.3s ease;
    animation: upDown 0.7s infinite;
}

.button-bottom{
    position: absolute;
    top: 28px;

    width: 100px;
    height: 50px;
    background: #ee0000;

    border-radius: 0 0 50% 50%;
    border: 0;

    transition: 0.3s ease;
}

@keyframes upDown {
    0% { top: 0; }
    50% { top: 4px; }
    100% { top: 0; }
}

@keyframes clicked {
    0% { top: 0; }
    40% { top: 12px; }
    80% { top: 0; }
}

@keyframes borderChange{
    0% { border-radius: 0 0 50% 50%; }
    40% { border-radius: 25% 25% 50% 50%; }
}