.box-mode{
    width: inherit;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-mode{
    display: flex;
    flex-direction: column;
}

.selection{
    padding: 2vh;
    border: 2px solid #bbb;
    border-radius: 4px;
}

.selection:focus{
    border: 2px solid #000;
}

.list-btn-mode{
    display: flex;
    flex-direction: column;
}

.btn-mode{
    margin: 1vh 0;
    width: 150px;
    transition: 0.3s ease;
}

@media screen and (min-width: 768px) {
    .list-btn-mode{
        display: flex;
        flex-direction: row;
    }    

    .btn-box-mode{
        margin: 2.5vh 2vh;
    }
}