body{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;

    display: grid;
    align-items: center;
    justify-content: center;
}

.box{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.box-instruction{
    width: inherit;
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#text-red{
    color: red;
}

#text-orange{
    color: orange;
}

#text-blue{
    color: blue;
}

.box-play{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100vw;
}

.game-over{
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.btn-game-over{
    padding: 10px 12px;
    border: 2px solid #000;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn-game-over:hover{
    color: #fefefe;
    background: #000;
}



.color-box{
    width: 40vw;
    height: 10vh;
    border: 2px solid #000;
}

.button{
    position: relative;
    top: 4vh;

    width: 100px;
    height: 60px;
    background: #ee0000;

    border-radius: 0 0 50% 50%;
    animation: 1s upDown infinite;
    transition: 0.2s ease;
    cursor: pointer;
}

.button:after{
    content: '';

    position: absolute;
    top: -4vh;

    width: 100px;
    height: 60px;
    background: #ff0000;
    border-radius: 50%;
    z-index: 100;
}

@keyframes upDown {
    0% { height: 60px; }
    50% { height: 55px; }
    100%{ height: 60px; }
}


.refresh-btn{
    padding: 10px 12px;
    font-size: 16px;

    border-radius: 4px;
    border: 2px solid #000;
    background: transparent;

    transition: 0.2s ease;
    cursor: pointer;
}

.refresh-btn:hover{
    color: #fefefe;
    background: #000;
}