body{
    margin: 0;
    padding: 0;
}

.main-box{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home-box{
    display: grid;
    gap: 2rem;
    grid-template-rows: 10vh 7vh 15vh;
}

.form-box{
    margin-top: -3.6rem;

    width: 30vw;
    height: 35vh;

    display: none;
    pointer-events: none;
    text-align: center;

    gap: 2rem;
    grid-template-rows: 8vh 8vh 10vh;
}