body{
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    width: 80vw;
    height: 30vh;

    display: grid;
    grid-template-rows: repeat(2, 15vh);

    margin: 7vh 0;
}

.box-form{
    width: 80vw;
    height: 40vh;

    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.child-form{
    width: inherit;
    height: 13vh;
}

.box-input{
    width: inherit;
}

.box-label{
    text-align: center;
}